@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Great+Vibes&family=Henny+Penny&family=Pacifico&display=swap');

/* Partie CSS - Menu */

body {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #a7dfdf;
}
h1{
    color: #035157;
    margin-top: 30px;
}

header {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #035157;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.page-index, .page-inscription, .page-connexion, .page-contact, .page-profil {
    background-color: #d2dfdf;
}
.contenu {
    padding: 20px;
}

.forms{
    padding: 15px;
    font-weight: bold;
}

input, textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color:#a7dfdf;
}

.BurgerButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    color: #333;
    margin-right: 20px;
}

.BurgerButton:focus {
    outline: none;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 45px;
    /* Espacement entre les éléments du menu */
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    font-size: 27px;
    font-family: 'Pacifico', serif;
    color: #a7dfdf;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #6f6d6f;
}

.carousel-item img {
    width: 100vw;
    height: 40vh; /* 60% de la hauteur de l'écran */
    object-fit: cover;
}

/* Partie mobile : cacher le menu par défaut */

@media (max-width: 768px) {

    /* Cacher le menu sur mobile */
    #menu {
        display: none;
        position: absolute;
        top: 80px;
        /* Ajuster selon la hauteur de ton header */
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    }

    /* Afficher le menu quand aria-expanded est true */
    #menu[aria-expanded="false"] {
        display: block;
    }

    /* Afficher le bouton hamburger */
    .BurgerButton {
        display: block;
    }

    /* Modifier la disposition du menu */
    .menu {
        flex-direction: column;
        gap: 30px;
        /* Réduire l'espacement entre les éléments du menu */
    }
²
    .menu li {
        display: block;
    }

    .menu a {
        font-size: 24px;
    }
}

/* Partie CSS - Gestion des erreurs */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}